body {
    background-color: rgb(196, 229, 238);
}
.box-shadow {
    display: flex;
    position: fixed;
    top: 10%;
    left: 7%;
    width: 85%;
    height: 80%;
    justify-content: center;
    align-items: center;
}
.info-cart {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: -8%;
}
.product-information .info-cart img {
    width: 70%;
    padding-left: 20%;
    margin-bottom: 2%;
}
.product-information .info-cart h1 {
    font-size: 20px;
    margin: 0;
    padding-left: 13%;
    padding-bottom: 10px;
}
.product-information {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;    
}
.info-cart span p {
    font-size: 20px;
    color: red;
    padding-left: 20%;
    margin-top: -10px;
}
.product-information h3{
    padding-bottom: 5%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-information ul {
    margin: 0;
}
.product-information ul li {
    list-style: none;
    padding: 1% 1%;
    display: flex;
    align-items:center   ;
}
.buttons {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.buttons a {
    padding: 15px 20px;
    font-size: 1rem;
    color: #444;
    border: .1rem solid #444;
    text-decoration: none;
    margin: 0 10px 0 10px;
}
.buttons a.add {
    background: #444;
    color: #fff;
}
.buttons a.add:hover {
    background: red;
}
.buttons a.buy:hover {
    background: red;
    color: #fff;
}
.buttons .buy {
    padding: 15px 45px;
}
.fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 2rem;
}
.fa-times:hover {
    transform: rotate(90deg);
}
span {
    display: block;
    padding: 0px 10px 10px 10px;
    margin-left: 40%;
    color: red;
    font-size: 20px;
}
.parameter {
    padding: 0 3rem 0 0;
}

