.hp {
    padding-top: 3px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.hp a {
    display: flex;
    justify-content: center;
}

.hp img {
    max-height: 11rem;
    width: auto;
    padding-bottom: 10px;
}

.vien:hover {
    outline: 5px solid red;
    outline-offset: 0;
}

.vien .hp img:hover {
    transform: scale(.9);
}


.hp p, .hp .price, .hp .stars {
    margin: 0;
}

.price {
    color: red;
    font-size: 1rem;
    padding: 1rem ;
    padding-top: 0;
}

/* Thêm các thuộc tính không liên quan đến chiều cao tự động */
.MacBook .hp .stars {
    padding:5px 5px;
    font-size: .8rem;
    padding-left:.8rem;
}

.MacBook .hp .stars i {
    color: #27ae60;
}


#Mvien-hpPro {
    margin-left: 3.4%;
}

#Xvien-hpPro {
    margin-left: 3.4%;
}

.vien-hpPro:hover {
    outline: 5px solid red;
    outline-offset: 0;
}

.vien-hpPro .hp img:hover {
    transform: scale(.9);
}

.sanpham_hp { 
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    max-width: 100%;
}
.vien-hpPro {
    margin-left: 3%;
    width: 15.6%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    background: white;
}



.box-shadow {
    display: none; /* Ban đầu ẩn hộp box-shadow */
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Hiệu ứng nền mờ */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.info-cart {
    width: 80%;
}
.product-information .info-cart img{
    width: 70%;
    padding-left: 20%;
    margin-bottom: 2%;
}
.product-information .info-cart h1 {
    font-size: 20px;
    margin: 0;
    padding-right: 10%;
    padding-bottom: 10px;
    text-align: center;
}
.product-information {
    background-color: rgb(196, 229, 238);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 80%;   
    height: 80%;
    position: relative;
}

.info-cart span p{
    font-size: 20px;
    color: red;
    padding-left: 20%;
    margin-top: -10px;
    padding-bottom: 10px;
}
.product-information h3 {
    padding-bottom: 30px;
    margin-left: 10%;
}
.product-information ul {
    margin: 0;
}
.product-information ul li {
    list-style: none;
    padding: 1% 1%;
}

.closeBox {
    position: absolute; /* Định vị tuyệt đối so với phần tử cha */
    cursor: pointer;
    color: red;
    top: 10px; /* Khoảng cách từ cạnh trên */
    right: 10px; /* Khoảng cách từ cạnh phải */
    font-size: 25px;
    padding: 5px;
}

.add button {
    padding: 10px 30px 10px 30px;
    color: white;
    background: rgb(107, 204, 241);
    box-shadow: 0 0 5px rgb(229, 192, 192);
    border: none;
    margin: 0 auto;
}

.select button:hover {
    background-color: red;
}
.buy button {
    padding: 10px 30px 10px 30px;
    color: white;
    background: rgb(107, 204, 241);
    box-shadow: 0 0 5px rgb(229, 192, 192);
    border: none;
    margin: 0 5px;
}

button {
    font-size: 18px;
}


.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top:30px;
    z-index: 1000;
}

.cart h2{
    margin-bottom: 20px;
}

.cart table {
    width: 100%;
}

.cart table thead tr th:first-child{
    text-align: left;
}

.cart table tr td {
    border-bottom: 1 solid #ddd;
    padding: 12px 0;
}

.cart table thead tr th:last-child{
    text-align: right;
}

.cart table tbody tr th:last-child{
    text-align: right;
}

.cart .price-total{
    text-align: right;
    font-weight: bold;
}

.cart button{
    margin-top: 12px;
    height: 30px;
    padding:0 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: tomato;
}

.cart{
    position: fixed;
    height:100vh;
    width: 400px;
    right:0;
    top:0;
    background-color: darkgoldenrod;
    padding:12px 20px;
    overflow-y: scroll;
    right: -100%;
    transition: all 0.3s ease;
}

th a {
    text-decoration: none;
}
.vcloseBox {
    cursor: pointer;
    color: red;
}
.select {
    display: flex;
    justify-content: center;
    align-items: center;
}

