.hp {
    padding-bottom: 5%;
}
.hp a{
    display: flex;
    justify-content: center;
}
.hp img {
    padding-top: 10%;
    width: 75%;
    padding-bottom: 10px;
}
.hp p {
   padding-left: 12px;
   padding-right: 6px;
   font-size: 16px;
   margin: 0;
   padding-bottom: 14px;
   padding-top: 3px;
   color: black;
}
.hp h6 {
    padding-left: 9px;
    font-size: 12px;
    margin: 0;
    padding-bottom: 5%;
    color: black;
}
.hp h5{
    color: red;
    margin: 0;
    font-size: 16.9px;
    padding-left: 12px;
    padding-bottom: 10px;
}
.sanpham_hp { 
    display: flex;
    align-items: center;
    padding-left: 7.7%;
    max-width: 100%;
}
.vien-hpPro {
    margin-left: 3%;
    width: 15.3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    background: white;
}
.chitiet a{
    display: block;
}
.k_chitiet h4{
    font-size: 12px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background: #ebeef4;
    justify-content: center;
    margin: 0;
    height: 40px;
    border-radius: 15px;
}


.box-shadow {
    display: none; /* Ban đầu ẩn hộp box-shadow */
    position: fixed;
    top: 10%;
    left: 7%;
    width: 85%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5); /* Hiệu ứng nền mờ */
    justify-content: center;
    align-items: center;
}
.info-cart {
    width: 80%;
}
.product-information .info-cart img{
    width: 50%;
    padding-left: 20%;
    margin-bottom: 2%;
}
.product-information .info-cart h1 {
    font-size: 20px;
    margin: 0;
    padding-left: 13%;
    padding-bottom: 10px;
}
.product-information {
    background-color: rgb(196, 229, 238);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;    
}

.info-cart span p{
    font-size: 20px;
    color: red;
    padding-left: 20%;
    margin-top: -10px;
}
.product-information h3 {
    position: absolute;
    top: 0%;
    right: 30%;
    padding-bottom: 50px;
}
.product-information ul {
    margin: 0;
}
.product-information ul li {
    list-style: none;
    padding: 1% 1%;
}
.closeBox {
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
    color: red;
    font-size: 25px;
}

.add button {
    padding: 10px 30px 10px 30px;
    position: absolute;
    left: 1%;
    bottom: 13%;
    margin-left: 3%;  /*màn hình đức lỏ xóa*/
    color: white;
    background: rgb(107, 204, 241);
    box-shadow: 0 0 5px rgb(229, 192, 192);
    border: none;
}

.select button:hover {
    background-color: red;
}
.buy button {
    padding: 10px 40px 10px 40px;
    position: absolute;
    left: 19%;
    bottom: 13%;
    margin-left: 4%;
    color: white;
    background: rgb(107, 204, 241);
    box-shadow: 0 0 5px rgb(229, 192, 192);
    border: none;
}

button {
    font-size: 18px;
}


.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top:30px;
}

.cart h2{
    margin-bottom: 20px;
}

.cart table {
    width: 100%;
}

.cart table thead tr th:first-child{
    text-align: left;
}

.cart table tr td {
    border-bottom: 1 solid #ddd;
    padding: 12px 0;
}

.cart table thead tr th:last-child{
    text-align: right;
}

.cart table tbody tr th:last-child{
    text-align: right;
}

.cart .price-total{
    text-align: right;
    font-weight: bold;
}

.cart button{
    margin-top: 12px;
    height: 30px;
    padding:0 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: tomato;
}

.cart{
    position: fixed;
    height:100vh;
    width: 400px;
    right:0;
    top:0;
    background-color: darkgoldenrod;
    padding:12px 20px;
    overflow-y: scroll;
    right: -100%;
    transition: all 0.3s ease;
}

th a {
    text-decoration: none;
}
.vcloseBox {
    cursor: pointer;
    color: red;
}