@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    font-family: 'Nunito' , sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    transition: all .2s linear;
    text-transform: capitalize;
}
html {
    font-size: 45%;

}
body {
    background: #eee;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.container .title {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}
.container .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.container .product-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.container .product-container .product img {
    height: 25rem;
}
.container .product-container .product:hover {
    outline: 5px solid red;
    outline-offset: 0;
}

.container .product-container .product:hover img {
    transform: scale(.9);
}
.container .product-container .product {
    font-size: 1.8rem;
    color: #444;
}
.product-preview {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; /* Đảm bảo phủ toàn bộ chiều rộng của màn hình */
    height: 100vh; /* Đảm bảo phủ toàn bộ chiều cao của màn hình */
    background: rgba(0, 0, 0, 0.7); /* Màu nền mờ để che khuất các phần còn lại */
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Đặt z-index cao hơn để lớp này nằm trên các phần tử khác */
}

.product-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    position: relative;
    margin: 2rem;
    width: 40rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
}

.product-preview .preview.active{
    display: inline-block;

}
.product-preview .preview img {
    height: 30rem;
}
.product-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
}
.product-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}

.product-preview .preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2.5rem;
}
.product-preview .preview .stars {
    padding: 1rem 0;
    font-size: 1.7rem;
}
.product-preview .preview .stars i {
    color: #27ae60;
}
.product-preview .preview .stars span {
    color: #999;
}
.product-preview .preview ul li {
    line-height: 1.5;
    padding: 1rem 0;
    color: #777;
    list-style: none;
}

.product-preview .preview .price {
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #27ae60;
}
.product-preview .preview .buttons {
    display: flex;
    gap: 1.5rem ;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.product-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;
}
.product-preview .preview .buttons a.add {
    background: #444;
    color: #fff ;
}
.product-preview .preview .buttons a.add:hover{
    background: red;
}
.product-preview .preview .buttons a.buy:hover{
    background: red;
    color: #fff;
}

@media (max-width : 991px) {
    .product-preview .preview img {
        height: 25rem;
    }
}

@media (max-width : 450px) {
    html {
        font-size: 50%;
    }
}

.preview a {
    font-size: 15px;
}
.preview a:hover {
    color: red;
}


.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top:30px;
}

.cart h2{
    margin-bottom: 20px;
}

.cart table {
    width: 100%;
}

.cart table thead tr th:first-child{
    text-align: left;
}

.cart table tr td {
    border-bottom: 1 solid #ddd;
    padding: 12px 0;
}

.cart table thead tr th:last-child{
    text-align: right;
}

.cart table tbody tr th:last-child{
    text-align: right;
}

.cart .price-total{
    text-align: right;
    font-weight: bold;
}

.cart button{
    margin-top: 12px;
    height: 30px;
    padding:0 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: tomato;
}

.cart{
    position: fixed;
    height:100vh;
    width: 400px;
    right:0;
    top:0;
    background-color: darkgoldenrod;
    padding:12px 20px;
    overflow-y: scroll;
    right: 0;
    transition: all 0.3s ease;
}

th a {
    text-decoration: none;
}