body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
/* --------header------ */
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px 50px;
    align-items: center;
    justify-items: center;
    background-color: white;
    border-bottom: 1px  solid black;
    box-shadow: 0px 1px 5px gray;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.header-logo{
    flex: 1;
}
.header-menu{
    flex: 4;
    display: flex;
    margin-left: 15px;
}
.header-menu>li{
    padding-right: 15px;
    position: relative;
}
.header-menu>li:hover .sub-menu{
    
    visibility: visible;
    top: 30px;    
}
.sub-menu{
    margin: 0;
    position: absolute;
    display: flex; 
    flex-wrap: wrap;
    min-width: 400px; 
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    visibility: hidden;
    border-radius: 15px;
    top: 50px;
    transition: 0.1s;
    z-index: 10;
}
.sub-menu li{
    padding: 0 15px 15px 0; 
    
}

.sub-menu li:last-child{
    border-right: none;
}
.sub-menu ul a{ 
    font-weight: normal;
    
}
.sub-menu >li >ul{
    padding-left: 5px;
    width: 100px;
}

.header-menu li a{
    font-size: 15px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
    
}
.header-others{
    flex: 2;
    display: flex;
}
.header-others>li{
    padding: 0 10px;
    border-right: 1px solid #333;
    position: relative;
}
.header-others>li>.login{
    margin: 0;
    right: 30px;
    width: auto;
    position: absolute;
    display: flex;
    width: auto;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 10;
}
.header-others>li>.login>li{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 15px;
}
.header-others>li:hover .login{
    visibility: visible  ;
    top: 30px;    
}
.header-others>li:last-child{
    border-right: none;
}
.header-others>li:first-child{
    position: relative;
}
.header-others>li:first-child input{
    border: none;
    border-bottom: 2px solid black;
}
.header-others>li:first-child i{
    position: absolute;
    right: 12px;
    bottom: 2px;
}
/* ---------main--------- */
/* main_slides */
main{
    padding: 0 100px;
    min-height: 1500px;
    position: relative;
    padding-top: 80px; 
}
#slides{
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    overflow: hidden;
    z-index: 1;
}
.container_slides{
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
}
.container_slides img{
    display: block; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot_container{
    position: absolute;
    height: 30px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 12px;
    width: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer ;
}
.dot_active{
    background-color: #333;
}
/* main product */


/* ----------footer-------- */
.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 20px 0;
    border-top: 1px solid black ;
}

.footer-section {
    width: auto;
}
.footer-section:last-child{
    width: 280px;
}
.footer-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: black;   
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: gray;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.shipping, .payment {
    display: flex;
    flex-wrap: wrap;
}

.shipping li, .payment li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer-bottom {
    background-color: #fff;
    padding: 0 50px;
    text-align: center;
    display: flex;
    justify-content: space-between ;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-media a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
